*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.container{
    width: 90%;
    max-width: 100%;
    min-width: 750px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
}

.img{
    background-image: url(/proyecto_final/tienda/img/articulos/remera1.png);
    background-repeat: no-repeat;
    background-size:contain;
}

/* --------------------------PRUEBAS DE GRID---------------------------------- */

.grid-articulos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(150px, 250px);
    transition: all 0.6s;
}

  .one {
    grid-column: 1;
    grid-row: 1;
    
  }
  .two {
    grid-column: 2;
    grid-row: 1;
  }
  .three {
    grid-column: 3;
    grid-row: 1;
  }
  .four {
    grid-column: 1;
    grid-row: 2;
  }
  .five {
    grid-column: 2;
    grid-row: 2;
  }
  .six {
    grid-column: 3;
    grid-row: 2;
  }
  
  .seven {
    grid-column: 1;
    grid-row: 3;
  }

  .articulos:hover{
    transform: scale(1.01);
    box-shadow:0 0 20px 1px rgba(43, 255, 0, 0.9);
    transition: all 0.6s;
}

.btn-agregar{
  position: relative;
  bottom: 0;
}